<!DOCTYPE html>
<html>

<head>
    <title>
        We're sorry :(
    </title>

    <style>

    body {
      margin-left: 15px;
        background-color: lightblue;
    }
    h1 {
        color: navy;
        font-size: 40px;
    }
    img {
        float: right;
        margin-right: 15px;
    }
    </style>

</head>

<img src="http://imgs.xkcd.com/comics/im_sorry.png" alt="Sorry, not sorry">


<body>
    <h1>Sorry</h1>
    <p>It appears that we don't have any users, matching your credentials. <br>
    Either you did not enter your credentials right, or you are a new user.<br><br>
    Considering that we haven't figured out how to register a new user,
    if you are a new potential user, we would suggest you to stop using our services.<br><br>
    Thank you for your business!</p>
</body>

<video src="https://media.giphy.com/media/aQXMVdhMErR3a/giphy.gif">

</html>
