<!DOCTYPE html>
<html>

<head>
    <title>
        A Small Hello
    </title>
</head>

<body>
    <h1>Helllllooooooooo there</h1>
    <p>Please tell us about yourself.</p>
    <fieldset>
    <form action="/login" method="post">
        <legend> We are definitely not storing this information.<legend><br>
        First name:<br>
        <input type="text" name="firstname"><br>
        Last name:<br>
        <input type="text" name="lastname"><br>
        Age: <br>
        <input type="text" name="age"><br>
        Your favorite SoftDes Ninja?<br>
        <input type="text" name="ninja"><br>
        Any other notes?<br>
        <input type="text" name="notes"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>
