<!DOCTYPE html>
<html>

<head>
    <title>
        Homepage
    </title>
    <style>
    body {
        background-color: lightblue;
    }
    h1 {
        color: navy;
        font-size: 40px;
    }
  </style>
</head>

<body>
    <h1>Hello {{firstname}}!</h1>
    Firstname: {{firstname}} <br>
    Surname: {{surname}} <br>
    Age: {{age}} <br>
    Favorite NINJA: Patrick Huston<br><br><br>
</body>

<video alt="Juli hello from the other side GIF" src="https://media3.giphy.com/media/d2Z2ZIzn7sa4W4OA/giphy.mp4" poster="https://media3.giphy.com/media/d2Z2ZIzn7sa4W4OA/giphy_s.gif" autoplay="" loop="" playsinline="" style="width: 480px; height: 270px; left: 0px; top: 0px;"></video>

</html>
